<!DOCTYPE html> 
<!-- Takes  title, style_1, style_2 and the theme letter  (the latter three from http://themeroller.jquerymobile.com) -->
<html> 
    <head> 
    <title>{{title}}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <!-- Custom CSS for application -->
    <link rel="stylesheet" href={{style_1}}/>
    <link rel="stylesheet" href={{style_2}} />

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>


<!-- End document_header.html -->