<body>
<!-- Apply the "d" theme from the themeroller to the page -->
    <div data-role="page" data-theme={{theme}}>
        <div data-role="header" style="overflow:hidden;" data-theme={{theme}}>
            <h1>{{page_header}}</h1>
            <a href="/index" data-icon="home" class="ui-btn-left">Home</a>
            <a href="/enter_key" data-icon="gear" class="ui-btn-right" data-rel="dialog" data-transition="slidedown">Options</a>
            <div data-role="navbar" data-theme={{theme}}>
                <ul>
                    <li><a href="add_job" data-rel="dialog" data-transition="slidedown">Add a Job</a></li>
                    <!-- <li><a href="select_ws_open" data-rel="dialog" data-transition="slidedown">Edit job stuff</a></li> -->
                </ul>
            </div><!-- /navbar -->
        </div><!-- /header -->


    <div data-role="content" data-theme={{theme}}>
        <p></p>
        <ul data-role="listview" data-filter="true" data-filter-placeholder="Search jobs..." data-inset="true">

        {% for record in records %}
        <!-- Create a list for the records passed to the page. -->
        <li><a href="/edit_job/{{ record[0] }}/">Customer: {{ record[2] }} &nbsp; &nbsp; &nbsp; &nbsp; Job: {{ record[1] }}          </a></li>
        {% endfor %}

    </ul>
    </div><!-- /content -->
