<body> 
<!-- Apply the "d" theme from the themeroller to the page -->
<div data-role="page" data-theme={{theme}}>

<div data-role="header" style="overflow:hidden;" data-theme="d">
    <h1>{{page_header}}</h1>
</div><!-- /header -->

    <div data-role="content" data-theme="d">   
        <p></p>
<ul data-role="listview" data-filter="true" data-filter-placeholder="Search worksheet..." data-inset="true">

    {% for record in records %}
    <!-- Create a list for the records passed to the page. -->
    <li><a href="/edit_ws/{{ record[0] }}/">Project: {{ record[1] }}          Customer: {{ record[2] }}</a></li>
    {% endfor %}

</ul>   

<p></p>
    <a href="index.html"  class="ui-mini ui-btn ui-btn-b ui-icon-delete ui-btn-icon-top ui-corner-all" >Cancel</a>
    </div><!-- /content -->
